<nav class="navbar navbar-inverse" role="navigation" id="menu-top">
		<div class="navbar-inner">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="menu">
					<ul class="nav navbar-nav ">
						<li><a class="btn-menu" href="{{ path('homepage') }}" ><span class="glyphicon glyphicon-th-large"></span> {{ 'app.word.home'|trans|capitalize }} </a></li>
						{{ render(controller('AppBundle:Theme:getAllThemesMenu')) }}
						<li><a class="btn-menu" href="{{ path('archive')}}"><span class="glyphicon glyphicon-calendar"></span> {{ 'app.word.archives'|trans|capitalize }} </a></li>
						<li><a class="btn-menu" href="#"><span class="glyphicon glyphicon-user"></span> {{ 'app.word.faces'|trans|capitalize }} </a></li>
						{% if is_granted('ROLE_ADMIN') %}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle btn-menu-admin" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{'app.word.admin'|trans({},'admin')|capitalize}}<span class="caret"></span></a>
								<ul class="dropdown-menu dropdown-menu-right" role="menu">
									<li><a class="btn-menu btn-menu-admin" href="#"><span class="glyphicon glyphicon-user"></span> {{ 'app.word.members'|trans({},'admin')|capitalize }}</a></li>
									<li><a class="btn-menu btn-menu-admin" href="#"><span class="glyphicon glyphicon-user"></span> {{ 'app.word.faces'|trans({},'admin')|capitalize }}</a></li>
									<li><a class="btn-menu btn-menu-admin" href="#"><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-trans({},'admin')fer"></span> {{ 'app.word.membersCo'|trans({},'admin')|capitalize }}</a></li>
									<li><a class="btn-menu btn-menu-admin" href="#"><span class="glyphicon glyphicon-comment"></span> {{ 'app.word.comments'|trans({},'admin')|capitalize }}</a></li>
									<li><a class="btn-menu btn-menu-admin" href="#"><span class="glyphicon glyphicon-star"></span> {{ 'app.word.events'|trans({},'admin')|capitalize }}</a></li>
									<li><a class="btn-menu btn-menu-admin" href="#"><span class="glyphicon glyphicon-th"></span> {{ 'app.word.themes'|trans({},'admin')|capitalize }}</a></li>
									<li><a class="btn-menu btn-menu-admin" href="#"><span class="glyphicon glyphicon-picture"></span> {{ 'app.word.medias'|trans({},'admin')|capitalize }}</a></li>
								</ul>
							</li>
						{% endif %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ 'app.word.myAccount'|trans|capitalize }}<span class="caret"></span></a>
							<ul class="dropdown-menu dropdown-menu-right" role="menu">
								<li class=""><a href="#"><span class="glyphicon glyphicon-user"></span> {{ 'app.word.myProfile'|trans|capitalize }}</a></li>
								<li class="divider"></li>
								<li ><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-log-out"></span> {{ 'app.word.logOut'|trans|capitalize }}</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>