{% extends "AppBundle::layout.html.twig" %}
{% block stylesheets %}
	{{ parent() }}
	{% if videos %}
	<link href="/videojs/video-js.min.css" rel="stylesheet">
	{% endif %}
{% endblock %}
{% block content%}
{% if event.title %}
<div class="row">
	<div class="col-xs-12">
		<h1>{{ event.title }}</h1>
	</div>
</div>
{% endif %}

{% if event.startDate and event.endDate %}
<div class="row">
	<div class="col-xs-12">
		<p class="strong"><span class="label label-default">{{ event.getStartDate()|time_diff }}</span> {{ 'app.word.from'|trans }} : {{ event.getStartDate()|localizeddate('short','none') }} {{ 'app.word.to'|trans }} : {{ event.getEndDate()|localizeddate('short','none') }}</p>
	</div>
</div>
{% endif %}

{% if event.summary %}
<div class="row">
	<div class="col-xs-12">
		<p>{{ event.summary }}</p>
	</div>
</div>
{% endif %}

{% if event.getThemes() %}
<div class="row">
	<div class="col-xs-12">
		<ul class="list-unstyled list-inline">
			{% for theme in event.getThemes() %}
				<li><a class="btn-menu" href="{{ path('theme', {'id':theme.id})}}">{{ theme.name|capitalize }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}

{% if videos %}
<div class="row">
	<div class="col-xs-12">
		<ul class="row list-unstyled">
		{% for video in videos %}
			<li class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
				<div class="embed-responsive embed-responsive-16by9">
					<video id="video_{{ video.id }}" class="video-js vjs-default-skin vjs-big-play-centered vjs-16-9"  width="640" height="264" {% if video.videoPoster %}poster="{{ path('videoposter', {'id': video.id} ) }}" {% endif %}data-setup='{"fluid": true, "controls": true, "nativeControlsForTouch": true, "autoplay": false, "preload": "none", "techOrder": ["html5","flash"]}'>
					{% for file in video.files %}
					    <source src="{{ path('video', {'id':video.id, 'extention':file.extention}) }}" type="{{ file.mimeType }}">
					{% endfor %}
						<p class="vjs-no-js">Pour pouvoir voir la vidéo veuillez activé le JavaScript, et pensez à mettre à jour votre navigateur pour qu'il<a href="http://videojs.com/html5-video-support/" target="_blank">supporte les vidéos HTML5</a></p>
					</video>
				</div>
			</li>
		{% endfor %}
		</ul>
	</div>
</div>
{% endif %}

{% if photos %}
<div class="row">
	<div class="col-xs-12">
		<ul class="row list-unstyled">
			{% for photo in photos %}
				<li class="col-lg-1 col-md-2 col-sm-3 col-xs-4">
					<a href="{{ path('photo_details', {'id':photo.id}) }}" class="thumbnail">
				      <img src="{{ path('photo', {'id':photo.id, 'size':'150', 'ratio':'square'}) }}" alt="{{ photo.fileOldName }}" title="{% if photo.captureDate %}{{ photo.getCaptureDate()|localizeddate('medium','medium') }}{% else %}no date{% endif %}">
				    </a>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-xs-12">
		<div class="navigation">
		    {{ knp_pagination_render(photos) }}
		</div>
	</div>
</div>
{% endif %}
{% endblock %}

{% block javascripts%}
	{{ parent() }}
	{% if videos %}
	<script src="/videojs/video.min.js"></script>
	<script>
	  videojs.options.flash.swf = "/videojs/video-js.swf";
	</script>
	{% endif %}
{% endblock %}