{% extends "AppBundle::layoutAdmin.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Media list</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-success" href="{{ path('admin_media_upload') }}">Upload medias</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="navigation">
                {{ knp_pagination_render(media) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Type</th>
                        <th>Folder</th>
                        <th>Adddate</th>
                        <th>Pdvdate</th>
                        <th>Title</th>
                        <th>Size</th>
                        <th>Duration</th>
                        <th>Startdate</th>
                        <th>Enddate</th>
                        <th>VideoPoster</th>
                        <th>Coord</th>
                        <th>Infos</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for medium in media %}
                    <tr>
                        <td><a href="{{ path('admin_media_show', { 'id': medium.id }) }}">{{ medium.id }}</a></td>
                        <td>{{ medium.type }}</td>
                        <td>{{ medium.folder }}</td>
                        <td>{% if medium.addDate %}{{ medium.addDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if medium.pdvDate %}{{ medium.pdvDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ medium.title }}</td>
                        <td>{{ medium.height }}px x {{ medium.width }}px</td>
                        <td>{{ medium.duration }}</td>
                        <td>{% if medium.startDate %}{{ medium.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if medium.endDate %}{{ medium.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ medium.videoPoster }}</td>
                        <td>Lat : {{ medium.gpsLat }}<br/> Lon : {{ medium.gpsLon }}</td>
                        <td>{{ medium.infos }}</td>
                        <td>
                            <div class="btn-group">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-cog"></span>Actions <span class="caret"></span>
                              </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ path('admin_media_show', { 'id': medium.id }) }}"><span class="glyphicon glyphicon-file"></span> see</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_media_edit', { 'id': medium.id }) }}"><span class="glyphicon glyphicon-edit"></span> edit</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="navigation">
                {{ knp_pagination_render(media) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-success" href="{{ path('admin_media_upload') }}">Upload medias</a>
        </div>
    </div>
{% endblock %}
