{% extends "AppBundle::layoutAdmin.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Theme</h1>
        </div>
    </div>

    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ theme.name }}</td>
            </tr>
            <tr>
                <th>Homepage</th>
                <td>{% if theme.homePage %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Nb events</th>
                <td>
                    {{ theme.events|length }}
                </td>
            </tr>
        </tbody>
    </table>

    <ul class="list-unstyled list-inline">
        <li>
            <a class="btn btn-info" href="{{ path('admin_theme_index') }}"><span class="glyphicon glyphicon-list"></span> Back to the list</a>
        </li>
        <li>
            <a class="btn btn-success" href="{{ path('admin_theme_edit', { 'id': theme.id }) }}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <button class="btn btn-danger" type="submit" value="Delete"><span class="glyphicon glyphicon-trash"></span> Delete</button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}