{% extends "AppBundle::layoutAdmin.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Event</h1>
        </div>
    </div>

    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if event.startDate %}{{ event.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if event.endDate %}{{ event.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ event.summary }}</td>
            </tr>
            <tr>
                <th>Createddate</th>
                <td>{% if event.createdDate %}{{ event.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modifieddate</th>
                <td>{% if event.modifiedDate %}{{ event.modifiedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Countphotos</th>
                <td>{{ event.countPhotos }}</td>
            </tr>
            <tr>
                <th>Countvideos</th>
                <td>{{ event.countVideos }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-unstyled list-inline">
        <li>
            <a class="btn btn-info" href="{{ path('admin_event_index') }}"><span class="glyphicon glyphicon-list"></span> Back to the list</a>
        </li>
        <li>
            <a class="btn btn-success" href="{{ path('admin_event_edit', { 'id': medium.id }) }}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <button class="btn btn-danger" type="submit" value="Delete"><span class="glyphicon glyphicon-trash"></span> Delete</button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
